.label {
  gap: 1rem;
}
.radio {
  border: solid 1px black;
}
.player {
  width: 450px;
}
@media (max-width: 768px) {
  .player {
    width: 80vw;
  }
  .Episodes li {
    margin: 10px;
  }
}

.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  flex-direction: column;
}
.SkipBtn {
  position: absolute;
  z-index: 100000000000000000;
  width: 50px;
  scale: 1;
  height: 100%;
  color: white;
  right: 30%;
  cursor: pointer;
}
#__next {
  height: 100vh;
}
.spacer {
  width: 80%;
}
@media (min-width: 48rem) {
  .footer {
    grid-auto-flow: row;
  }
}

input.search-input{
  width: 200px;
}
#dropdownNavbar li {
  padding: 20px;
}
.movie-detail {
  position: relative;
}
.movie-detail::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-image: linear-gradient(to right, rgb(0,0,0), rgb(0,0,0));
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.container {
  position: relative;
}