.label {
  gap: 1rem;
}
.radio {
  border: solid 1px black;
}
.player {
  width: 450px;
}
@media (max-width: 768px) {
  .player {
    width: 80vw;
  }
  .Episodes li {
    margin: 10px;
  }
}

.hero-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  flex-direction: column;
}
.SkipBtn {
  position: absolute;
  z-index: 100000000000000000;
  width: 50px;
  scale: 1;
  height: 100%;
  color: white;
  right: 30%;
  cursor: pointer;
}
#__next {
  height: 100vh;
}
.spacer {
  width: 80%;
}
@media (min-width: 48rem) {
  .footer {
    grid-auto-flow: row;
  }
}

input.search-input{
  width: 200px;
}
